@import '../../constants/colours.scss';

.populationFooter {

  td {
    text-align: center;
  }
  
  .populationLabel {
    box-sizing: border-box;
    border-left: 1px solid $main;
    border-bottom: 1px solid $main;
    border-bottom-left-radius: 5px;
  }

  .populationAmount {
    border-left: 1px solid $main;
    border-right: 1px solid $main;
    border-bottom: 1px solid $main;
    border-bottom-right-radius: 5px;
  }
}
