@import '../../constants/sizes.module.scss';
@import '../../constants/colours.scss';

.mainButton {
  flex: 1;
  color: $main;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid $main;
  background-color: transparent;

  h3 {
    width: 100%;
    text-align: center;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.6
  }
}
