@import '../../constants/colours.scss';

.searchWrapper {
  display: flex;
  flex-direction: row;

  .inputWrapper {
    flex: 5;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    border: 1px solid $main;

    input {
      flex: 1;
      border: none;
      padding: 0 2%;
      font-size: 1em;
      background-color: transparent;
    }

    input:focus {
      outline: none;
    }

    button {
      border: none;
      color: $grey;
      padding: 0 2%;
      font-size: 1em;
      cursor: pointer;
      background-color: transparent;
    }
  }

  :not(:last-child) {
    margin-right: 1%;
  }
}
