@import './constants/colours.scss';
@import './constants/sizes.module.scss';

.App {
  header {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main;

    h1 {
      color: white;
      font-size: 4em;
    }
  }

  main {
    width: 90%;
    margin: auto;
    display: flex;
    max-width: $maxContent;
    flex-direction: column;

    .noContent {
      color: $grey;
      text-align: center;
      margin-top: calc(#{$marginTop} * 3);
    }
  }

  button:focus {
    outline: none;
  }

  button:active {
    opacity: 0.6
  }
}
